### pandas
 - 파이썬을 엑셀처럼 쓸 수 있게 해준다.
### numpy
 - 수치해석 라이브러리

# 사용방법

In [3]:
# 라이브러리 불러오기
# 라이브러리를 불러와서 사용할 수 있게 해줍니다.
import pandas as pd
import numpy as np

In [15]:
# csv 파일을 불러오기
df = pd.read_csv('./titanic/train.csv')
#df.describe()
#df.sample()
#df.head(), df.tail()

In [ ]:
# 변수타입의 변경
## 문자로 변경
# df['column'] = df['column'].astype(str)
##

In [14]:
# 컬럼 필터링하기
df_num = df[['PassengerId',	'Survived',	'Pclass',	'Age',	'SibSp',	'Parch',	'Fare']]
df_num

     PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare
0              1         0       3  22.0      1      0   7.2500
1              2         1       1  38.0      1      0  71.2833
2              3         1       3  26.0      0      0   7.9250
3              4         1       1  35.0      1      0  53.1000
4              5         0       3  35.0      0      0   8.0500
..           ...       ...     ...   ...    ...    ...      ...
886          887         0       2  27.0      0      0  13.0000
887          888         1       1  19.0      0      0  30.0000
888          889         0       3   NaN      1      2  23.4500
889          890         1       1  26.0      0      0  30.0000
890          891         0       3  32.0      0      0   7.7500

[891 rows x 7 columns]

# pandas의 group by

* 자주 사용되는 집계 함수  
'mean': 평균값  
'sum': 합계  
'min': 최소값  
'max': 최대값  
'count': 갯수  
'std': 표준편차  
'var': 분산  
'median': 중앙값  
'first': 첫 번째 값  
'last': 마지막 값  
'nunique': 고유한 값의 수

In [22]:
df_num.groupby(['Survived']).agg({'PassengerId': 'count', 'Pclass':'mean'})
#df_num.groupby(['Survived']).mean() ## numpy스타일

          PassengerId    Pclass
Survived
0                 549  2.531876
1                 342  1.950292

# 판다스 vlookup, join
 - 엑셀로 쉽게 진행되지 않는 vlookup을 쉽게

In [23]:
# 첫 번째 데이터프레임 (df1)
data1 = {
    '상품코드': ['A001', 'A002', 'A003', 'A004'],
    '상품명': ['상품1', '상품2', '상품3', '상품4'],
    '가격': [1000, 2000, 3000, 4000]
}
df1 = pd.DataFrame(data1)

# 두 번째 데이터프레임 (df2)
data2 = {
    '상품코드': ['A001', 'A002', 'A005'],
    '재고': [50, 30, 20]
}
df2 = pd.DataFrame(data2)

# VLOOKUP 기능 구현 (merge 사용)
result = pd.merge(df1, df2, on='상품코드', how= 'left')
## 특정 df를 기준으로 할 경우
# df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=(False, False))
## how: {'left', 'right', 'outer', 'inner', 'cross'}, default 'inner'


# 결과 출력
print(result)

   상품코드  상품명    가격    재고
0  A001  상품1  1000  50.0
1  A002  상품2  2000  30.0
2  A003  상품3  3000   NaN
3  A004  상품4  4000   NaN