In [4]:
import pandas as pd
from faker import Faker
import random

# Faker 라이브러리를 한국어로 설정
fake = Faker('ko_KR')

# 소속 부서 목록
departments = ['인사부', '기획부', '개발부', '영업부', '마케팅부']

# 샘플 데이터 생성
data = {
    '일련번호': [i+1 for i in range(100)],
    '소속': [random.choice(departments) for _ in range(100)],
    '이름': [fake.name() for _ in range(100)],
    '입사일': [fake.date_between(start_date='-10y', end_date='-1m') for _ in range(100)]
}

# 퇴사일 추가를 위한 로직
def add_resignation_date(hire_date):
    # 20% 확률로 퇴사 처리
    if random.random() < 0.2:
        # 퇴사일은 입사일 이후로 설정
        end_date = hire_date + pd.DateOffset(years=random.randint(1, 5), days=random.randint(1, 365))
        return end_date.strftime('%Y-%m-%d')
    else:
        return None  # 퇴사하지 않은 경우

# 데이터 추가
data['퇴사일'] = [add_resignation_date(pd.to_datetime(hire_date)) for hire_date in data['입사일']]
data['나이'] = [random.randint(22, 60) for _ in range(100)]
data['성별'] = [random.choice(['남성', '여성']) for _ in range(100)]
data['주소'] = [fake.address() for _ in range(100)]
# DataFrame 생성
df = pd.DataFrame(data)

df.head()  # 생성된 데이터의 상위 5개 행을 확인

   일련번호   소속   이름         입사일   퇴사일  나이  성별                     주소
0     1  기획부  김상호  2015-05-26  None  31  여성       대전광역시 서구 학동742거리
1     2  개발부  이동현  2014-05-25  None  37  남성  인천광역시 송파구 가락가 (병철이김리)
2     3  기획부  이옥순  2014-08-02  None  45  여성      제주특별자치도 태백시 봉은사2가
3     4  인사부  김예원  2023-04-19  None  60  남성          강원도 단양군 백제고분가
4     5  기획부  오영일  2016-04-23  None  56  남성  부산광역시 금천구 오금가 (서연김이읍)

In [5]:
df.to_csv('sample_data.csv', index=False, encoding='utf-8-sig')

In [8]:
# 사용자로부터 숫자 입력받기
num = float(input("숫자를 입력하세요: "))

# 입력된 숫자가 양수인지 음수인지 판별
if num > 0:
    print("입력한 숫자는 양수입니다.")
elif num < 0:
    print("입력한 숫자는 음수입니다.")
else:
    print("입력한 숫자는 0입니다.")

숫자를 입력하세요:  ㅇㄴㄹㅇ

ValueError: could not convert string to float: 'ㅇㄴㄹㅇ'

In [11]:
print(list(range(1,10)))

[1, 2, 3, 4, 5, 6, 7, 8, 9]